/* .about{
    text-align: start;
    padding: 1rem 5rem;
}

.list{
    padding: 1rem;
    list-style: disc;
}

@media screen and (max-width: 850px) {
    .about{
        padding: 1rem;
    }
    .list {
        padding: 0;
        list-style: disc;
    }
} */

.about-container {
    padding: 3rem 5rem;
}
.about-wrapper{
    padding: 3rem;
}
.about-wrapper p{
    font-size: 14px;
}

.about-wrapper li{
    font-size: 14px;
}

.about-wrapper h2 {
    text-align: center;
    font-size: 1.7rem;
    /* padding: 1rem; */
}

@media screen and (max-width: 850px) {
    .about-container {
        padding: 1rem;
    }
    .about-wrapper{
        padding: 1rem;
    }
    
    .about-wrapper h2 {
        text-align: center;
        padding-top: 5rem;
    }
}