.about{
    text-align: start;
    padding: 1rem 5rem;
}

.list{
    padding: 1rem;
    list-style: disc;
}

@media screen and (max-width: 850px) {
    .about{
        padding: 1rem;
    }
    .list {
        padding: 0;
        list-style: disc;
    }
}