
 .activity-container {
  display:grid;
  grid-template-columns: repeat(4, 1fr);
  gap:2.5rem;
  padding: 2rem 5rem;
}

.items{
  border-radius: 5px;
  display: grid;
  border: 3px ridge #C0C0C0;
  transition: all 0.6s;
  cursor: pointer;
}

.items:hover {
  border: 3px solid blue;

}

.items:has(:hover, :focus) {
  --img-scale: 1.1;
  --title-color: #28666e;
  --link-icon-translate: 0;
  --link-icon-opacity: 1;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

@media screen and (max-width: 850px) {
  .activity-container{
      display:grid;
      grid-template-columns: repeat(2, 1fr);
      gap:0.5rem;
      padding: 1rem;
  }
/* 
  .icon-wrapper {
    font-size: 50px;
  }

  .project-name p {
    font-size: 14px;
  } */

  }

  .activity-detail-container {
  padding: 2rem 5rem;
  }

  .activity-detail-container h3, h4{
    font-size: smaller;
    padding-top: 1rem;
     } 
  .activity-detail-container p{
   font-size: smaller;
   padding-top: 1rem;
    }

  .activity-detail-container li{
    font-size: smaller;
  }

  .activity-detail-container .cycling {
    font-size: large;
    padding-top: 0;
  }


  .container {
    position: relative;
    width: 100%;
  }

  .image {
    display: block;
    width: 100%;
    height: auto;
  }

  .overlay {
    position: absolute;
    bottom: 0;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.5); 
    color: #f1f1f1;
    width: 100%;
    transition: .5s ease;
    opacity:0;
    color: white;
    font-size: 20px;
    padding: 20px;
    text-align: center;
    height: 25%
  }

  .container:hover .overlay {
    opacity: 1;
  }


  .serviceBox{
    margin-top: 20px;
      text-align: center;
      position: relative;
  }
  .serviceBox .service-icon{
      width: 80px;
      height: 80px;
      border-radius: 50%;
      padding: 10px;
      margin: 0 auto 15px;
      /*border: 2px solid rgba(0,0,0,0.7);*/
      box-shadow: 0 0 2px 2px rgba(0,0,0,0.3);
      z-index: 1;
      position: relative;
      transition: all 0.5s ease 0s;
  }
  
  .serviceBox .service-icon span{
      /* display: block; */
      width: 100%;
      height: 100%;
      font-size: 30px;
      color: rgba(0,0,0,0.8);
      display: flex;
      align-items: center;
      justify-content: center;
  }
  
  .serviceBox .service-icon span i {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
  }
  
  .serviceBox .title{
      font-size: 20px;
      color: #000000;
      text-transform: uppercase;
      margin: 0 0 10px 0;
  }
  .serviceBox .description{
      font-size: 15px;
      color: #555;
      padding: 0 10px;
      margin: 0;
  }
  
  .activity_button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: black;
    background-color: transparent;
    text-align: center;
    cursor: pointer;
    /* width: 90%; */
    /* position:absolute; */
    bottom:1rem;
    color: green;
  }

  .activity_button:hover {
    /* background-color: #555; */
    text-decoration:underline;
    background-color: transparent;
  }

  .activity_post_container {
    padding: 3rem;
  }

  .activity_post_container h2{
    font-size:1.5rem;
    color:#2c3050;
    padding-bottom: 1rem; 
  }

    
  @media screen and (max-width: 850px) {
    .activity_post_container {
        padding: 1rem;
      }
    
    }
  
    @media screen and (max-width: 600px) {
      .activity-detail-container{
        padding: 1rem;
      }
      .activity_post_container {
        padding: 1rem;
      }
    }

    
  

  
